
/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
*{
	padding:0;
	margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}



html,body{
margin: 0 auto;
background-color: #7FB27B;

}
h1{
padding: 0.5rem;
font-family: 'Tangerine', cursive;
font-size: 4rem;
}
h2{
font-family: 'Tangerine', cursive;
font-size: 3rem;    
}

p{
padding-top: 1rem;
padding-bottom: 2rem;
font-family: 'Flamenco', cursive;
font-size: 1.2rem;
text-align: left;
}   


/*******************************************
				Layout
*******************************************/
.wrapper{
    background-color: #DFDFFF;
    margin: 0 auto;
    
}
.masthead{
	text-align: center;
    background-color: #B29784;
}
.main{
    box-sizing: border-box;
	background-color: #CDFFC9;
    border: 0.2rem solid #CCA68C;
    padding: 2rem;
    margin: 1rem;
    overflow-y: scroll;
     
}
.foot{
	text-align: center;
    background-color: #B29784;
    
}

/*******************************************
				Form Styles
*******************************************/
.formBox{
    padding-bottom: 1rem;
	
}
.col{
    padding-bottom: 1rem;
}
#slider-range{
  margin: 1rem 0rem;  
}
.buttons{
  padding: 1rem 0rem;  
}
.buttons input{
 margin-right: 2rem;
}

 label{
  display: block;
  font-family: 'Flamenco', cursive;
  font-size: 1.5rem; 
}


input, select, textarea{
  padding: 0.5rem;
  font-family: 'Flamenco', cursive;
  font-size: 1.5rem;
  border: 0.2rem solid #CCA68C;
}
input[type=text],
input[type=number],
input[type=date]{
	
}



/*******************************************
				Image Styles
*******************************************/




/***************************************
             Responsive layouts
****************************************/
@media screen and (min-width: 500px){
    .main{
        max-width: 780px;
        margin: 0 auto;
    }
    
    .formBox{
       width: 50%;
       float: left;  
    }
    .col{
      width: 50%;
       float: left;  
    }
    #slider-range{
      width: 50%;
      float:right;
      margin: inherit;
    }
    input[type=submit],
    input[type=reset]{
    margin-top: 6rem;
    width:

        }
    
    .foot{
        clear: both;
    }
    
}
@media screen and (min-width: 780px){
    .wrapper{
        max-width: 1024px;
    }
    .main{
        overflow: hidden;
    }
    
    
    .formBox{
       width: 25%;
      
        
    }
    
    .col{
       width: 25%;
       
        
    }
    
}
